#adminLogin-container{
	width: 100%;
}

#adminLogin-container button,
#adminLogin-container input{
	width: 30%;
}

#adminLogin-container input{
	margin: var(--padding) 0;
}

#adminPost-list-container{
	padding: var(--padding);
}
.adminPost-container{
	width: 70%;
	padding: calc(var(--padding) *0.3);
}
.adminPost-left-container{
	flex: 1;
}
.adminPost-container button{
	margin: 0 calc(var(--padding) * 0.2);
}

#admin-create-button{
	position: fixed;
	top: calc(var(--padding) * 0.5);
	right: calc(var(--padding) * 0.5);
}

/*admin edit ----- */
#admin-edit-container{
	height: 100vh;
}
#admin-edit-body{
	flex: 1;
}
#admin-input-container{
	padding: var(--padding);
	padding-top: calc(var(--padding)*0.5);
	flex: 9;
}
#admin-input-container p{
	margin-bottom: calc(var(--padding) *0.5);
}

#admin-left-input-container input,
#admin-left-input-container button{
	margin-bottom: calc(var(--padding)*0.5);
}

#markdown-input-container{
	flex: 1;
	margin: 0 0 var(--padding) var(--padding);
}
#markdown-input-container  .input1{
	width: calc(100% - var(--padding) * 2);
	height: 100%;
}
#admin-preview-container{
	flex: 4;
}

/*admin preview*/
#admin-preview-container{
	padding: calc(var(--padding)*0.5);
}

