/* flex */
.row {
  display: flex;
  flex-direction: row;
}
.row-center {
  justify-content: center;
}
.row-middle {
  align-items: center;
}
.row-left {
  justify-content: flex-start;
}
.row-right {
  justify-content: flex-end;
}

.col {
  display: flex;
  flex-direction: column;
}
.col-middle {
  justify-content: center;
}
.col-center {
  align-items: center;
}
.col-left {
  align-items: flex-start;
}
.col-right {
  align-items: flex-end;
}

/* text */
.style-text {
  font-size: var(--large-size);
  font-family: var(--style-font);
  font-weight: 400;
}
.bold-text {
  font-size: var(--medium-size);
  font-weight: 500;
  font-family: var(--bold-font);
}
.read-text {
  font-size: var(--small-size);
  font-family: var(--read-font);
  font-weight: 400;
  padding-bottom: calc(var(--padding) * 0.3);
}

.small-text {
  font-size: var(--small-size);
}
.medium-text {
  font-size: var(--medium-size);
}
.large-text {
  font-size: var(--large-size);
}

/* color */
.primary-color{
	  color: var(--primary-color);
}
.gray {
  color: var(--gray-color);
}
.black {
  color: var(--dark-color);
}
.less-black {
  color: var(--less-black-color);
}
.red-highlight {
  background-color: var(--red-highlight);
}
.blue-highlight {
  background-color: var(--blue-highlight);
}
.green-highlight {
  background-color: var(--green-highlight);
}
.yellow-highlight {
  background-color: var(--yellow-highlight);
}

/* button*/
.button1{
	color: var(--dark-color);
	background-color: var(--primary-color);
	border-radius: var(--radius);
}
.button1:hover{
	transform: translate(0,-0.2rem);
}
.button1:active{
	transform: translate(0, 0.2rem);
	background-color: var(--gray-color);
}

.button3{
	background: transparent;
}
.button3:hover{
	transform: translate(0, -0.2rem);
}
.button3:active{
	transform: translate(0, 0.2rem);
}

/* input*/
.input1{
	padding: calc(var(--padding) * 0.55) var(--padding);
	background-color: var(--panel-color);
	border-radius: var(--radius);
	border: none;

	color: var(--dark-color);

	font-size: calc(var(--small-size)*0.7);
	font-family: var(--read-font);
	font-weight: bold;
}
