.topbar-container {
  padding-top: calc(var(--padding) * 0.8);
}

.postInfo-container {
  padding: var(--padding);
  margin: 0 calc(var(--padding) * 0.5);
  transition: all 0.3s ease-in-out;
  border-bottom: solid 0.15rem var(--gray-color);
}
.postInfo-container:hover {
  transform: translate(0, -0.3rem);
  background-color: var(--light-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
.postInfo-container:active {
  transform: translate(0, 0.2rem);
}
