.topbar-container {
  padding-top: calc(var(--padding) * 0.8);
}

.postInfo-container {
  padding: var(--padding);
  padding-bottom: 0;
  margin: 0 calc(var(--padding) * 0.5);
  transition: all 0.3s ease-in-out;
  break-word: break-word;
  overflow: scroll;
}

.back-button-container{
	position: fixed;
	top: 0;
	left: 0;
	color: var(--less-dark-color);
}
.confirm-dialog-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
	z-index: 4;
}
.confirm-dialog-container{
	padding: calc(var(--padding)*2);
	background-color: var(--light-color);
	border-radius: var(--radius);
}
.confirm-dialog-container button{
	margin-left: calc(var(--padding));
}

.horizontal-line-container{
	padding-top: var(--padding);
	width: 100%;
	display: flex;
	justify-content: center;
}
.horizontal-line{
	width: 80%;
	border-top: 0.15rem solid var(--gray-color);
}
