#home-containter .postInfo-container{
  border-bottom: solid 0.15rem var(--gray-color);
}
#home-container .postInfo-container:hover {
  transform: translate(0, -0.3rem);
  background-color: var(--light-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
#home-container .postInfo-container:active {
  transform: translate(0, 0.2rem);
}
#latest-text {
	width: 100%;
}
#list-container{
	padding: 0 var(--post-padding);
	padding-top: var(--padding);
	word-break: break-word;
}
#list-container .postInfo-container{
	width: 100%;
}
