#view-container{
	padding: 0 calc(var(--post-padding));
}

#view-container .postInfo-container{
	padding-bottom: var(--padding);
}

#postMarkdown-container{
	padding: 0 var(--padding);
	padding-bottom: calc(var(--padding)*2);
}
